ion-item {
  margin-bottom: 15px;
  h1 {
    font-size: 18px;
    // border: 1px solid var(--ion-color-primary);
    padding: 8px;
    border-radius: 5px;
    color: var(--ion-color-primary);
    padding: 0;
    margin: 0;
  }

  .offer-details {
    display: flex;
    align-items: center;
    color: var(--ion-color-medium);

    .space {
      margin-left: 5px;
    }
  }

  ion-label {
    margin-top: 0;
  }
}
