<ion-item [routerLink]="['/','places','tabs','offers', offer.id]">
  <ion-thumbnail slot="start">
    <ion-img [src]="offer.imageUrl"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h1>{{ offer.title }}</h1>
    <div class="offer-details">
      <ion-icon name="calendar" color="primary"></ion-icon>
      <small color="primary" class="space">{{ getDummyDate() | date }}</small>
      <small class="space">to</small>
      <ion-icon name="calendar" color="primary" class="space"></ion-icon>
      <small class="space" color="primary">{{ getDummyDate() | date }}</small>
    </div>
  </ion-label>
</ion-item>
